<section class="row text-center" id="cto">
    <h3><b>Contacto</b></h3>
  </section>
  <section class="row text-center" id="mail">
    <div class="col-md-7">
      <h5 id="gracias"><b>Si te interesa mi perfil, no dudes en comunicarte conmigo...</b></h5>
      <p class="agrandar"><i class="fa-brands fa-linkedin-in"></i><a href="https://www.linkedin.com/in/agustina-witis/" class="lista__link">Linkedin</a></p>
      <p class="agrandar"><i class="fa-regular fa-envelope"></i><a href="#" class="lista__link">agustina.witis@gmail.com</a></p>
      <p class="agrandar"><img src="../assets/img/githube.png" alt="Githube" class="img-fluid" id="logo__git"><a href="https://github.com/AgusFW" class="lista__link">Githube</a></p>
    </div>
    <div class="col-md-5" id="despedida">
      <h4 class="gracias"><b>Gracias por visitar mi sitio !</b></h4>
    </div>
  </section>
  <section class="row text-end" id="footer">
    <div>
    <p><img src="../assets/img/AGUSTINA-LOGO.gif" alt="Logo cto" class="img-fluid" id="logo_AW"><b> Agustina Witis</b></p>
  </div>
</section>
