<section class="row text-center" id="est">
    <h3><b>Estudios</b></h3>
  </section>
  <section class="row text-center" id="estudios">
    <div class="col-md-4">
      <h4 class="agrandar"><img src="../assets/img/UBA.jpg" alt="Logo UBA" class="img-fluid" id="logo__UBA"><b>UBA - Filosofía</b></h4>
      <h5><b>Licenciatura y Profesorado</b></h5>
      <p>Carrera en curso: 80 % aprobado.</p>
    </div>
    <div class="col-md-4">
      <h4 class="agrandar"><img src="../assets/img/arg.prog.png" alt="Logo Argentina Programa" class="img-fluid" id="logo__argprog"><b> #YoProgramo</b></h4>
      <h5><b>Full Stack Jr. - Desarrollo Web y de Aplicaciones</b></h5> 
      <p>Beca otorgada por el Ministerio de Desarrollo Nacional Argentino, 
        en conjunto con <i>Cessi</i> Argentina e INTI</p>
    </div>
    <div class="col-md-4">
      <h4 class="agrandar"><img src="../assets/img/codoacodo.png" alt="Logo Codo a Codo 4.0" class="img-fluid" id="logo__cac"><b>Codo a Codo 4.0</b></h4>
      <h5><b>Full Stack Java</b></h5> 
      <p>Orientado a objetos concurrentes y tipeados estático.</p>
    </div>
  </section>
