<section class="row" id="sobremi">
    <h3><b>Sobre Mí</b></h3>
  </section>
  <section class="row" id="sob">
    <h4>Mi nombre es <b>Agustina Witis</b></h4>
        <p class="text">... este año fui beneficiada por la beca <b>Argentina Programa</b>, comenzando así a incursionar en el lenguaje de la programación 
            y del desarrollo de Software, lo que me llevo a descubrir esta nueva pasión que ocupa horas y horas de practica, lectura e investigación 
            en mi día a día. Además, estoy finalizando la carrera de Filosofía en la UBA (Universidad de Buenos Aires), la cual también ha implicado un
            proceso de aprendizage arduo y gratificante a la vez.
        </p>    
        
        <p class="text">
            He trabajado y estudiado toda mi vida adulta, lo que me volvió una persona previsora y organizada. Sin 
            embargo, no solo soy estricta sino también me considero empática, amigable y respetuosa. 
            Suelo tener una actitud positiva y paciente, ya que he aprendido que la mejor manera de atravesar cualquier 
            dificultad es con buena predisposición y cautelosamente. 
        </p>
        
        <p class="text">
            Actualmente me desempeño como coordinadora de asistencias en el departamento de casos complejos de la compañía 
            ASSIST CAR. Sin embargo, estoy buscando cambiar mi perfil profesional y redirigirlo hacia el Desarrollo de 
            Software, para seguir creciendo profesionalmente, enfrentar nuevos desafíos 
            y aprender nuevas habilidades; así como para poner en práctica los conocimientos que he adquirido. 
        </p>

        <p class="text">
            En suma, puedo ofrecerles ser una colaboradora comprometida y que siempre busca mejorar.
        </p>

        <p class="text-end">
            Gracias por su tiempo!
        </p>
  </section>
