<section class="row" id="sobremi">
    <h3><b>Sobre Mí</b></h3>
  </section>
  <section class="row" id="sob">
    <h4>Mi nombre es <b>Agustina Witis</b></h4>
        <p class="text">... tengo 27 años, estoy finalizando la carrera de Filosofía en la UBA (Universidad de Buenos Aires) y también
            fui beneficiada por la beca <b>Argentina Programa</b>, comenzando así a incursionar en el lenguaje de la programación 
            y del desarrollo de software. 
        </p>    
        
        <p class="text">
            He trabajado y estudiado toda mi vida adulta, lo que me volvió una persona previsora y organizada. Sin 
            embargo, no solo soy estricta sino también me considero empática, amigable y respetuosa. 
            Suelo tener una actitud positiva, paciente, acepto mis errores y trato siempre de mejorar. 
        </p>
        
        <p class="text">
            Actualmente me desempeño como coordinadora de asistencias en el departamento de casos complejos de la compañía 
            ASSIST CAR. Sin embargo, estoy buscando cambiar mi perfil profesional y redirigirlo hacia el Desarrollo de 
            Software, para seguir creciendo profesionalmente, enfrentar nuevos desafíos 
            y aprender nuevas habilidades; así como para poner en práctica los conocimientos que he adquirido. 
        </p>

        <p class="text">
            En suma, puedo ofrecerles ser una colaboradora comprometida y que siempre busca mejorar.
        </p>

        <p class="text-end agrandar">
            Gracias por su tiempo!
        </p>
  </section>
