<section class="row" id="sobremi">
    <h3><b>Sobre Mí</b></h3>
  </section>
  <section class="row" id="sob">
    <h4>Mi nombre es <b>Agustina Witis</b></h4>
        <p class="text">...en el 2022 fui beneficiada por la beca <b>Argentina Programa</b>, comenzando así a incursionar en el lenguaje de la programación 
            y del desarrollo de Software, lo que me llevo a descubrir esta nueva pasión que ocupa horas y horas de practica, lectura e investigación 
            en mi día a día. Además, estoy finalizando la carrera de Filosofía en la UBA (Universidad de Buenos Aires), la cual también implica un
            proceso de aprendizage arduo y gratificante a la vez.
        </p>    
        
        <p class="text">
            He trabajado y estudiado toda mi vida adulta, lo que me volvió una persona previsora y organizada. Sin 
            embargo, no solo soy estricta sino que también me considero amigable y empática. 
            Suelo tener una actitud positiva y paciente, ya que he aprendido que la mejor manera de atravesar cualquier 
            dificultad es con buena predisposición y cautelosamente. 
        </p>

        <p class="text">
            En suma, puedo ofrecerles ser una colaboradora comprometida y que siempre busca mejorar.
        </p>

        <p class="text-end">
            Gracias por su tiempo!
        </p>
  </section>
