<section class="row text-center"  id="presentacion">
    <div class="col-md-7" id="presentacion_text">
      <h1 id="titulo"><b>Agustina Witis</b></h1>
      <h4 id="subtitulo"><b>Desarrolladora Full Stack Jr.</b></h4>
      <p>Busco ser parte de un equipo de trabajo innovador y comprometido, que fomente el crecimiento de sus miembros
        tanto profesional como personalmente. Me interesa desempeñarme de manera colaborativa en un ambiente
        amistoso y respetuoso, así como que motive a sus colaboradores a ser cada vez mejores</p>
    </div>
    <figure class="col-md-5">
      <img src="../assets/img/fotoperfil.jpeg" class="img-thumbnail col" id="foto" alt="foto fondo">
    </figure>
  </section>
